{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "@babel/eslint-parser",
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    },
    "requireConfigFile": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "localStorage": true,
    "ga": true,
    "fetch": true,
    "window": true,
    "document": true,
    "Raven": true,
    "ENV": true
  },
  "rules": {
    "react/prop-types": "off",
    "no-console": 0,
    "react/sort-comp": [
      1,
      {
        "order": ["type-annotations", "static-methods", "lifecycle", "everything-else", "render"]
      }
    ]
  }
}
